{% extends 'base.html.twig' %}

{% block title %}PetSeek | Nouvelle annonce{% endblock %}

{% block body %}

<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
</head>

<h1>Nouvelle annonce</h1>

<div class="new-form">
    <p><b>Les champs marqués d'une * sont obligatoires.</b></p><br>

    {{ form_start(formAnnonce) }}
        {{ form_row(formAnnonce.motifAnnonce) }}<br>
        <label>Veuillez cliquer sur votre localisation approximative* :
        </label>
        <div id="map"></div>
        {{ form_row(formAnnonce.latitude) }}
        {{ form_row(formAnnonce.longitude) }}<br>
        {{ form_row(formAnnonce.pet_name) }}<br>
        {{ form_row(formAnnonce.pet_genre) }}<br>
        {{ form_row(formAnnonce.pet_age) }}<br>
        {{ form_row(formAnnonce.pet_health) }}<br>
        {{ form_row(formAnnonce.pet_caractere) }}<br>
        {{ form_row(formAnnonce.pet_befriends) }}<br>
        {{ form_row(formAnnonce.images) }}<br>
        {{ form_row(formAnnonce.descImg) }}<br>

        <div id="image-cropbox" class="image-cropcontainer"></div>
        <button class="butn btn-outline-info" id="crop-btn" style="width: 100%; margin-top: 10px; display: none;" type="button">Crop</button>


        <button type="submit" id="confirm-btn" class="btn">Valider</button>
    {{ form_end(formAnnonce) }}
</div>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
crossorigin=""></script>
<script>
    var map = L.map('map').setView([41.535118, 10.789347], 2);
    var popup = L.popup();
    var marker;
    var locLat = document.getElementById('annonce_latitude');
    var locLng = document.getElementById('annonce_longitude');
    
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        minZoom: 2,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    function onMapClick(e) {
        if(marker) {
            map.removeLayer(marker);
        }
        marker = L.marker([e.latlng.lat, e.latlng.lng]).addTo(map);
        let latitude = e.latlng.lat
        let longitude = e.latlng.lng
        locLat.value = latitude;
        locLng.value = longitude;
    }
    
    map.on('click', onMapClick);
</script>
{% endblock %}