{% extends 'base.html.twig' %}

{% block title %}PetSeek | Acceuil{% endblock %}

{% block body %}

    <h1>Bienvenue sur <strong class="app-name">Pet'Seek</strong> !</h1>

    <p>
        Ce site est conçu pour les personnes ayant perdu leurs animaux domestiques et/ou voulant converser sur nos amis les bêtes.<br>
        Pour avoir un plan détaillé du site 
        <a href="" class="text-link">cliquez ici</a>.<br>
        Pour avoir un rappel sur les menaces du web 
        <a href="" class="text-link">c'est par là</a>.
    </p>
    <p>
        En espérant que ce site pourra vous aider, vous instruire et vous divertir !
    </p>
    <p>
        Sur cette page vous pourrez trouver les annonces des personnes ayant perdu leur petit compagnon.<br>
        Pour interagir avec une annonce vous <b>devez être inscrit(e) et connecté(e)</b>, et cliquer sur l'action souhaitée :<br>
        <ul>
            <li>Ajouter aux favoris : en fonction de vos chances d'avoir des informations au sujet de l'animal.</li>
            <li>Envoyer un message au propriétaire : si vous avez déjà une information.</li>
        </ul>
    </p>

    <h2>Les avis de recherche...</h2>
    
    {% if app.user %}
        <button class="new-btn">
            <a href="{{ path('create_annonce') }}">Nouvelle annonce</a>
        </button>
    {% endif %}

    {{ form_start(searchForm) }}
        {{ form_widget(searchForm.q) }}
        {{ form_widget(searchForm.local) }}
        {{ form_widget(searchForm.motif) }}

        <button type="submit">Valider</button>
    {{ form_end(searchForm) }}

    {# on crée une grille d'avis de recherches #}
    <div id="grid">
        {% if annonces is defined %}
        {% for annonce in annonces %}

            <div class="wanted">
                <div class="first-view">
                    {% for image in annonce.images %}
                        {% if image is not iterable %}
                            <img src="{{ asset('/img/annonces/' ~ image ~ '') }}" class="wanted-pic">
                        {% endif %}
                    {% endfor %}
                    <h3>{{ annonce.motifAnnonce }}</h3>
                    <p><b>Localisation :</b> {{ annonce.localisation }}</p>
                </div>

                <div class="second-view">
                    <ul>
                        <li>Nom : {{ annonce.petName }}</li>
                        <li>Sexe : {{ annonce.petGenre }}</li>
                        <li>Âge : {{ annonce.petAge }}</li>
                    </ul>
                    <p>Affinités avec d'autres animaux/humains : {{ annonce.petBefriends }}</p>
                    <p>Caractère de l'animal : {{ annonce.petCaractere }}</p>
                    <p>Informations sur la santé : {{ annonce.petHealth }}</p>
                </div>
                {# si un utilisateur est connecté, il a la possibilité d'ajouter les annonces en favoris #}
                {% if app.user %}
                {% if annonce in app.user.annonceFavorites %}
                <a href="{{ path('remove_afav', {'id': annonce.id }) }}">
                    <i class="fa-solid fa-heart heart-annonce" style="color: #d747cb;"></i>
                </a>
                {% else %}
                <a href="{{ path('add_afav', {'id': annonce.id }) }}">
                    <i class="fa-regular fa-heart heart-annonce" style="color: #d747cb;"></i>
                </a>
                {% endif %}
                {% endif %}

                {# on peut notifier un annonceur lorsqu'on est connecté #}
                {% if app.user %}
                    <button class="info-btn">
                        <a href="{{ path('notif_annonce', {'id': annonce.annonceUser.id }) }}">J'ai une info !</a>
                    </button><br>
                {% endif %}

                {# lien uniquement pour le créateur de l'annonce ou pour les admins #}
                {% if app.user and (is_granted('ROLE_ADMIN') or app.user.id == annonce.annonceUser.id) %}
                    <button class="delete-btn">
                        <a href="{{ path('suppr_annonce', {'id': annonce.id }) }}">Supprimer l'annonce</a>
                    </button>
                {% endif %}

                {# fonction réservée aux admins #}
                {% if is_granted('ROLE_ADMIN') %}
                    <button class="ban-btn">
                        <a href="{{ path('ban_user', {'id': annonce.annonceUser.id }) }}">Bannir l'utilisateur</a>
                    </button>
                {% endif %}
            </div>
        {% endfor %}
        {% endif %}
    </div>
{% endblock %}
