{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}

    <h1>Bienvenue sur <strong class="app-name">Pet'Seek</strong> !</h1>

    <p>
        Ce site est conçu pour les personnes ayant perdu leurs animaux domestiques et/ou voulant converser sur nos amis les bêtes.<br>
        Pour avoir un plan détaillé du site 
        <a href="" class="text-link">cliquez ici</a>.<br>
        Pour avoir un rappel sur les menaces du web 
        <a href="" class="text-link">c'est par là</a>.
    </p>
    <p>
        En espérant que ce site pourra vous aider, vous instruire et vous divertir !
    </p>
    <p>
        Sur cette page vous pourrez trouver les annonces des personnes ayant perdu leur petit compagnon.<br>
        Pour interagir avec une annonce vous <strong>devez être inscrit(e) et connecté(e)</strong>, et cliquer sur l'action souhaitée :<br>
        <ul>
            <li>Ajouter aux favoris : en fonction de vos chances d'avoir des informations au sujet de l'animal.</li>
            <li>Envoyer un message au propriétaire : si vous avez déjà une information.</li>
        </ul>
    </p>

    <h2>Les avis de recherche...</h2>
    
    {% if app.user %}
        <a href="{{ path('create_annonce') }}">Nouvelle annonce</a>
    {% endif %}

    <div id="grid">
        {% for annonce in annonces %}
            <div class="wanted">
                <img src="{{ asset('/img/annonces/' ~ annonce.image ~ '') }}" class="wanted-pic">

                <h3>Signes distinctifs</h3>

                <ul>
                    <li>
                        {{ annonce.infoUne }}
                    </li>
                    {% if annonce.infoDeux %}
                        <li>
                            {{ annonce.infoDeux }}
                        </li>
                    {% endif %}
                    {% if annonce.infoTrois %}
                        <li>
                            {{ annonce.infoTrois }}
                        </li>
                    {% endif %}
                </ul>
                {% if app.user %}
                    <a href="{{ path('notif_annonce', {'id': annonce.annonceUser.id}) }}">J'ai une info !</a>
                {% else %}
                    <p></p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
