{% extends 'base.html.twig' %}

{% block title %}PetSeek | Acceuil{% endblock %}

{% block body %}

<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
</head>

<div class="parallax">
    <h1>Bienvenue sur <strong class="app-name">Pet'Seek</strong> !</h1>
</div>

<div class="para-text">
    <p>
        Ce site est conçu pour les personnes ayant perdu leurs animaux domestiques et/ou voulant converser sur nos amis les bêtes.<br>
        Pour avoir un plan détaillé du site 
        <a href="" class="text-link">cliquez ici</a>.<br>
        Pour avoir un rappel sur les menaces du web 
        <a href="" class="text-link">c'est par là</a>.
    </p>
    <p>
        En espérant que ce site pourra vous aider, vous instruire et vous divertir !
    </p>
    <p>
        Sur cette page vous pourrez trouver les annonces des personnes ayant perdu leur petit compagnon.<br>
        Pour interagir avec une annonce vous <b>devez être inscrit(e) et connecté(e)</b>, et cliquer sur l'action souhaitée :<br>
        <ul>
            <li>Ajouter aux favoris : en fonction de vos chances d'avoir des informations au sujet de l'animal.</li>
            <li>Envoyer un message au propriétaire : si vous avez déjà une information.</li>
        </ul>
    </p>
</div>

<div class="parallax">
    <h2>Les avis de recherche...
        <i id="filterIcon" class="fa-solid fa-filter" style="color: #FFAB5E;"></i><br>
        {% if app.user %}
            <button class="new-btn">
                <a href="{{ path('create_annonce') }}">Nouvelle annonce</a>
            </button>
        {% endif %}
    </h2>
</div>
    
<div class="para-text">

    <div id="filterForm" class="filters">
        {{ form_start(searchForm, { 'attr': {'class': 'search-form'} }) }}
            {{ form_widget(searchForm.q) }}
            {{ form_widget(searchForm.genre) }}
            {{ form_widget(searchForm.local) }}
            {{ form_widget(searchForm.motif, { 'attr': {'class': 'search-motif'} }) }}<br>
    
            <button type="submit">Valider</button>
        {{ form_end(searchForm) }}
    </div>

    {# on définit 2 arrays qui seront utilisées dans le script #}
    {% set annonceLatitudes = [] %}
    {% set annonceLongitudes = [] %}
    {# on définit les variables pour la pagination #}
    {% set pages = null %}
    {% set currentPage = null %}
    {% set path = null %}

    {# on crée une grille d'avis de recherches #}
    <div id="grid">
        {% if annonces.data is defined %}
        {% for annonce in annonces.data %}
            {# <div class="wanted"> #}
                <figure id="first-view-{{ loop.index }}" class="carte"> 
                    {% for image in annonce.images %}
                        {% if image is not iterable %}
                            <img src="{{ asset('/img/annonces/' ~ image ~ '') }}" class="wanted-pic" alt="{{ annonce.descImg }}">
                        {% endif %}
                    {% endfor %}
                    <figcaption class="motif-annonce">
                        {{ annonce.motifAnnonce }}<br>
                        {# <b>Ville :</b>
                        {% if annonce.annonceUser.banni == 1 %}
                            {{ 'Voie lactée' }}
                        {% else %}
                            {{ annonce.localisation }}
                        {% endif %} #}
                    </figcaption>
                    {% if annonce.images | length > 2 %}    
                        <i id="left-{{ loop.index }}" class="fa-solid fa-caret-left" style="color: #FFAB5E;"></i>
                        <i id="right-{{ loop.index }}" class="fa-solid fa-caret-right" style="color: #FFAB5E;"></i>
                    {% endif %}
                    <button id="info-{{ loop.index }}" title="{{ loop.index }}" onclick="showInfo(this)" class="moreInfos seeDogInfos">Plus d'infos...</button>
                    {# si un utilisateur est connecté, il a la possibilité d'ajouter les annonces en favoris #}
                    {% if app.user %}
                        {% if annonce in app.user.annonceFavorites %}
                        <a href="{{ path('remove_afav', {'id': annonce.id }) }}">
                            <i class="fa-solid fa-heart heart-annonce"></i>
                        </a>
                        {% else %}
                        <a href="{{ path('add_afav', {'id': annonce.id }) }}">
                            <i id="regular-on" class="fa-regular fa-heart heart-annonce"></i>
                        </a>
                        {% endif %}
                    {% endif %}
                </figure>

                <div id="info-modal-{{ loop.index }}" class="modal">
                    <span id="close-cross-{{ loop.index }}" class="close-cross" onclick="closeModal()">&times;</span>
                    <div class="modal-content">
                        <div id="second-view-{{ loop.index }}" class="dogInfos">
                                <h3 class="dogID">{{ annonce.petName }} - {{ annonce.petGenre }} - {{ annonce.petAge }} ans</h3>
                            <p><b>Affinités avec d'autres animaux/humains :</b><br> {{ annonce.petBefriends }}</p>
                            <p><b>Caractère de l'animal :</b><br> {{ annonce.petCaractere }}</p>
                            <p><b>Informations sur la santé :</b><br> {{ annonce.petHealth }}</p>
                            <div id="map-{{ loop.index }}" class="annoMap"></div><br>
            
                            {# on peut notifier un annonceur lorsqu'on est connecté #}
                            {% if app.user %}
                                <button class="info-btn">
                                    <a href="{{ path('notif_annonce', {'id': annonce.annonceUser.id }) }}">J'ai une info !</a>
                                </button><br>
                            {% endif %}
            
                            {# lien uniquement pour le créateur de l'annonce ou pour les admins #}
                            {% if app.user and (is_granted('ROLE_ADMIN') or app.user.id == annonce.annonceUser.id) %}
                                <button class="delete-btn">
                                    <a href="{{ path('suppr_annonce', {'id': annonce.id }) }}">Supprimer l'annonce</a>
                                </button>
                            {% endif %}
            
                            {# fonction réservée aux admins #}
                            {% if is_granted('ROLE_ADMIN') %}
                                <button class="ban-btn">
                                    <a href="{{ path('ban_user', {'id': annonce.annonceUser.id }) }}">Bannir l'utilisateur</a>
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {# </div> #}
            {# on définit les valeurs pour la pagination #}
            {% set path = 'app_home' %}
            {% set pages = annonces.pages %}
            {% set currentPage = annonces.page %}
            {# on alimente les arrays définies avant la boucle #}
            {% set annonceLatitudes = annonceLatitudes|merge([annonce.latitude]) %}
            {% set annonceLongitudes = annonceLongitudes|merge([annonce.longitude]) %}
            {% endfor %}
            {% endif %}
        </div>
        {% include "partiel/pagination.html.twig" %}

    {# <div id="gallery-grid">
        {% for image in images %}
            <img src="{{ asset('img/annonces/' ~ image ~ '') }}" class="gallery-img">
        {% endfor %}
    </div> #}
</div>





    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script>
        let modalView = document.getElementsByClassName('dogInfos');
        
        document.addEventListener('DOMContentLoaded', function() {
            for(let i = 1 ; i <= modalView.length ; i++) {
                var map = L.map(`map-${i}`, {
                center: [41.535118, 10.789347],
                zoom: 2
                })
    
                var popup = L.popup();
                
                L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    minZoom: 2,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(map);

                const latitudes = JSON.parse('{{ annonceLatitudes | json_encode | raw }}');
                const longitudes = JSON.parse('{{ annonceLongitudes | json_encode | raw }}');

                var marker = L.marker([latitudes[i - 1], longitudes[i - 1]]).addTo(map)
            }
            map.invalidateSize(true);
        });
    </script> 
</div>
{% endblock %}
