{% extends 'base.html.twig' %}

{% block title %}PetSeek | Profil | Mes annonces{% endblock %}

{% block body %}

<h1>Mes annonces</h1>

<div id="grid">
    
    {% for annonce in app.user.annonces %}
        <div class="wanted">
            <img src="{{ asset('/img/annonces/' ~ annonce.image ~ '') }}" class="wanted-pic">
            
            {% if app.user %}
                <a href="{{ path('remove_afav', {'id': annonce.id }) }}">
                    <i class="fa-solid fa-heart" style="color: #d747cb;"></i>
                </a>
            {% endif %}

            <h3>Signes distinctifs</h3>

            <ul>
                <li>
                    {{ annonce.infoUne }}
                </li>
                {% if annonce.infoDeux %}
                    <li>
                        {{ annonce.infoDeux }}
                    </li>
                {% endif %}
                {% if annonce.infoTrois %}
                    <li>
                        {{ annonce.infoTrois }}
                    </li>
                {% endif %}
            </ul>

            {% if app.user %}
                <button class="info-btn">
                    <a href="{{ path('notif_annonce', {'id': annonce.annonceUser.id }) }}">J'ai une info !</a>
                </button><br>
            {% endif %}

            {% if app.user and (is_granted('ROLE_ADMIN') or app.user.id == annonce.annonceUser.id) %}
                <button class="delete-btn">
                    <a href="{{ path('suppr_annonce', {'id': annonce.id }) }}">Supprimer l'annonce</a>
                </button>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
            <button class="ban-btn">
                <a href="{{ path('ban_user', {'id': annonce.annonceUser.id }) }}">Bannir l'utilisateur</a>
            </button>
            {% endif %}
        </div>
    {% endfor %}

</div>

{% endblock %}