{% if pages > 1 %}
    <nav class="pages">
        <div class="pagination">
            {% if currentPage > 1 %}
                <p class="page-item">
                    <a href="{{ path(path, {page: currentPage - 1}) }}" class="page-link">&lt;</a>
                </p>
            {% else %}
                <p class="page-item disabled">
                    <a>&lt;</a>
                </p>
            {% endif %}
            {% for page in 1..pages %}
                <p class="page-item {{ page == currentPage ? 'active' : '' }}">
                    <a href="{{ path(path, {page: page}) }}">{{ page }}</a>
                </p>
            {% endfor %}
            {% if currentPage < pages %}
                <p class="page-item">
                    <a href="{{ path(path, {page: currentPage + 1}) }}" class="page-link">&gt;</a>
                </p>
            {% else %}
                <p class="page-item disabled">
                    <a>&gt;</a>
                </p>
            {% endif %}
            </div>
    </nav>
{% endif %}