<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}

       
    </head>
    <body>
        
        <nav id="header" class="navbar">
            <ul>
                <li><a href="{{ path('app_home') }}">Acceuil</a></li>
                <li><a href="{{ path('app_forum') }}">Forum</a></li>
                <li><a href="">Pour aller plus loin</a></li>
            </ul>
        </nav>

        <main>
            <div id="sidebar">
                <div>
                    {% if app.user %}
                        <p>
                            <a href="">Profil</a>
                        </p>
                        <p>
                            <a href="{{ path('app_logout') }}">Déconnexion</a>
                        </p>
                    {% else %}
                        <p>
                            <a href="{{ path('app_register') }}">Inscription</a>
                        </p>
                        <p>
                            <a href="{{ path('app_login') }}">Connexion</a>
                        </p>
                    {% endif %}
                </div>
                <div class="slider">
                    <div class="slides">

                        <!--buttons-->
                        <input type="radio" name="radio-btn" id="radio1">
                        <input type="radio" name="radio-btn" id="radio2">
                        <input type="radio" name="radio-btn" id="radio3">
                        <input type="radio" name="radio-btn" id="radio4">
                        <input type="radio" name="radio-btn" id="radio5">

                        <!--slides-->
                        <div class="slide first">
                            <p>Test 1</p>
                        </div>
                        <div class="slide">
                            <p>Test 2</p>
                        </div>
                        <div class="slide">
                            <p>Test 3</p>
                        </div>
                        <div class="slide">
                            <p>Test 4</p>
                        </div>
                        <div class="slide">
                            <p>Test 5</p>
                        </div>

                        <!--automatic navigation-->
                        <div class="navigation-auto">
                            <div class="auto-btn1"></div>
                            <div class="auto-btn2"></div>
                            <div class="auto-btn3"></div>
                            <div class="auto-btn4"></div>
                            <div class="auto-btn5"></div>
                        </div>
                    </div>

                    <!--manual navigation-->
                    <div class="navigation-manual">
                        <label for="radio1" class="manual-btn"></label>
                        <label for="radio2" class="manual-btn"></label>
                        <label for="radio3" class="manual-btn"></label>
                        <label for="radio4" class="manual-btn"></label>
                        <label for="radio5" class="manual-btn"></label>
                    </div>
                </div>
            </div>
    
            <div id="bloc">
                {% block body %}
                {% endblock %}
            </div>
        </main>

        <footer>
            <nav class="navbar bottom">
                <ul>
                    <li><a href="">Plan du site</a></li>
                    <li><a href="{{ path('app_contact') }}">Contact</a></li>
                    <li><a href="">Réseaux sociaux</a></li>
                    <li><a href="">Mentions légales</a></li>
                </ul>
            </nav>
        </footer>
         {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="{{ asset('js/script.js') }}"></script>
        {% endblock %}
    </body>
</html>
