<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta description="Besoin d'un conseil ou d'un service pour votre animal ? Ou tout simplement papoter avec d'autres propriétaires ? Pet seek vous fournit des annonces et un forum pour vos besoins.">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css">
        {% endblock %}

       
    </head>
    <body>
        <div>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        
        <nav id="header" class="navbar nav-top">
            <a href="{{ path('app_home') }}">Acceuil</a>
            <a href="{{ path('app_forum') }}">Forum</a>
            <a href="{{ path('app_plus_loin') }}">Pour aller plus loin</a>
        </nav>

        <main>
            <section id="sidebar">
                <div>
                    {% if app.user %}
                        <p>
                            <a href="">Profil</a><br>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('list_members') }}">Liste des membres</a><br>
                            {% endif %}
                            <a href="{{ path('my_annonces') }}">Mes annonces</a><br>
                            <a href="">Mes favoris</a>
                            <a href="{{ path('annonces_fav') }}">Annonces</a>
                            <a href="{{ path('sujets_fav') }}">Sujets</a><br>
                            <a href="">Paramètres</a>
                        </p>
                        <p>
                            <a href="{{ path('app_logout') }}">Déconnexion</a>
                        </p>
                    {% else %}
                        <p>
                            <a href="{{ path('app_register') }}">Inscription</a>
                        </p>
                        <p>
                            <a href="{{ path('app_login') }}">Connexion</a>
                        </p>
                    {% endif %}
                </div>
                {# <div class="slider">
                    <p class="t_slider active">Méfiez vous de ce que vous partagez et surtout <b>avec qui</b> !</p>
                    <p class="t_slider">Si vous êtes amené à rencontrer un autre utilisateur, pour quelque raison que ce soit, nous vous recommandons de <b>ne pas y aller seul(e)</b>, d’en <b>informer des proches</b> et d’<b>anticiper</b> un maximum !</p>
                    <p class="t_slider">Ne partagez jamais vos <b>informations personnelles</b>. Soyez prudents.</p>
                </div> #}
            </section>
    
            <section id="bloc">
                {% block body %}
                {% endblock %}
            </section>
        </main>

        <div class="para-text">
            <footer>
                <nav class="footer">
                    <a href="">Plan du site</a><br>
                    <a href="{{ path('app_contact') }}">Contact</a><br>
                    <a href="">Mentions légales</a>
                </nav>
                <div class="socials">
                    <a href="">
                        <i class="fa-brands fa-facebook"></i>Facebook
                    </a><br>
                    <a href="">
                        <i class="fa-brands fa-instagram"></i>Instagram
                    </a><br>
                    <a href="">
                        <i class="fa-brands fa-tiktok"></i>TikTok
                    </a>
                </div>
            </footer>
        </div>

         {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>
            <script src="{{ asset('js/script.js') }}"></script>
        {% endblock %}
    </body>
</html>
