{% extends 'base.html.twig' %}

{% block title %}PetSeek | Forum | {{ sujet }} | Messages{% endblock %}

{% block body %}

    <h1>{{ sujet }}</h1>

    {% if sujet.closed == 0 %}
        {{ form_start(formMsg) }}
            {{ form_row(formMsg.contenu) }}<br>

            <button type="submit" class="btn">Poster</button>
        {{ form_end(formMsg) }}
    {% endif %}

    <div>
        {% for message in sujet.messages %}
            <div>
                <p>
                    {% if message.msgUser.banni == 1 %}
                        {{ 'User' }}
                    {% else %}
                        {{ message.msgUser }}    
                    {% endif %}
                    {% if message.updatedDate is not null %}
                    --- {{ message.updatedDate | date('d/m/Y - H:i') }}
                    {% else %}
                        --- {{ message.publicationDate | date('d/m/Y - H:i') }}
                    {% endif %}
                     {% if message.updatedDate is not null %}
                        <small>(modifié)</small>
                     {% endif %}
                </p>
                <p>
                    {{ message.contenu }}<br>
                    {% if message.images %}
                        {% for image in message.images %}
                            {% if image is not iterable %}
                                <img src="{{ asset('img/posts/' ~ image ~ '') }}">
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </p>

                {% if app.user and app.user.id == message.msgUser.id and (sujet.closed == 0) %}
                    <a href="{{ path('edit_msg', {'idSuj': sujet.id, 'idMsg': message.id }) }}">Modifier</a>
                {% endif %}
            </div><br>
            
            {% if app.user and is_granted('ROLE_ADMIN') %}
                <a href="{{ path('suppr_msg', {'idMsg': message.id, 'idSuj': sujet.id }) }}">Supprimer le message</a><br>
                {% if message.msgUser.banni == 0 %}
                    <a href="{{ path('ban_user', {'id': message.msgUser.id }) }}">Bannir l'utilisateur</a>
                {% else %}
                    <a href="{{ path('unban_user', {'id': message.msgUser.id }) }}">Unban l'utilisateur</a>
                {% endif %}
            {% endif %}

        {% endfor %}
    </div>

{% endblock %}
