{% extends 'base.html.twig' %}

{% block title %}PetSeek | Forum | {{ sujet }} | Messages{% endblock %}

{% block body %}

    <h1>{{ sujet }}</h1>

    {{ form_start(formMsg) }}
        {{ form_row(formMsg.contenu) }}<br>

        <button type="submit" class="btn">Poster</button>
    {{ form_end(formMsg) }}

    <div>
        {% for message in sujet.messages %}
            <div>
                <p>
                    {% if message.msgUser.banni == 1 %}
                        {{ 'User' }}
                    {% else %}
                        {{ message.msgUser }}    
                    {% endif %}
                     --- {{ message.publicationDate | date('d/m/Y - H:i') }}
                </p>
                <p>
                    {{ message.contenu }}
                </p>
            </div><br>
            
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('suppr_msg', {'idMsg': message.id, 'idSuj': sujet.id }) }}">Supprimer le message</a><br>
                {% if message.msgUser.banni == 0 %}
                    <a href="{{ path('ban_user', {'id': message.msgUser.id }) }}">Bannir l'utilisateur</a>
                {% else %}
                    <a href="{{ path('unban_user', {'id': message.msgUser.id }) }}">Unban l'utilisateur</a>
                {% endif %}
            {% endif %}

        {% endfor %}
    </div>

{% endblock %}
