{% extends 'base.html.twig' %}

{% block title %}PetSeek | Forum | {{ sujet }} | Messages{% endblock %}

{% block body %}

    <h1>{{ sujet }}</h1>

    <div class="msg-form">
        {% if (app.user) and (sujet.closed == 0) %}
            {{ form_start(formMsg) }}
                {{ form_row(formMsg.contenu) }}<br>
                {{ form_row(formMsg.images) }}<br>
    
                <button type="submit" class="btn">Poster</button>
            {{ form_end(formMsg) }}
        {% endif %}
    </div>

    <div>
        {% for message in sujet.messages %}
            <div>
                <p>
                    {% if message.msgUser.banni == 1 %}
                        {{ 'Utilisateur' }}
                    {% else %}
                        {{ message.msgUser }}    
                    {% endif %}
                    {% if message.updatedDate is not null %}
                    --- {{ message.updatedDate | date('d/m/Y - H:i') }}
                    {% else %}
                        --- {{ message.publicationDate | date('d/m/Y - H:i') }}
                    {% endif %}
                     {% if message.updatedDate is not null %}
                        <small>(modifié)</small>
                     {% endif %}
                </p>
                <p>
                    {{ message.contenu }}<br>
                    {% if message.images %}
                        {% for image in message.images %}
                            {% if image is not iterable %}
                                <button title={{ image }} onclick="onClick(this)" class="modal-btn">{{ image }}</button>

                                <div id="img-modal" onclick="this.style.display='none'" class="modal">
                                    <span class="close-cross">&times;</span>
                                    <div class="modal-content">
                                        <img id="modal-img" class="msg-image">
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </p>

                {% if app.user and app.user.id == message.msgUser.id and (sujet.closed == 0) %}
                    <button class="new-btn">
                        <a href="{{ path('edit_msg', {'idSuj': sujet.id, 'idMsg': message.id }) }}">Modifier</a>
                    </button>
                {% endif %}
            </div><br>
            
            {% if app.user and is_granted('ROLE_ADMIN') %}
                <button class="delete-btn">
                    <a href="{{ path('suppr_msg', {'idMsg': message.id, 'idSuj': sujet.id }) }}">Supprimer le message</a>
                </button>
                {% if message.msgUser.banni == 0 %}
                    <button class="ban-btn">
                        <a href="{{ path('ban_user', {'id': message.msgUser.id }) }}">Bannir l'utilisateur</a>
                    </button>
                {% else %}
                    <button class="unban-btn">
                        <a href="{{ path('unban_user', {'id': message.msgUser.id }) }}">Unban l'utilisateur</a>
                    </button>
                {% endif %}
            {% endif %}

        {% endfor %}
    </div>

{% endblock %}
