{% extends 'base.html.twig' %}

{% block title %}PetSeek | Forum | Sujets{% endblock %}

{% block body %}

    <h1>{{ categorie }}</h1>

    {% if app.user %}
        <a href="{{ path('crea_suj', {'id': categorie.id }) }}">Nouveau sujet</a>
    {% endif %}

    <div>
        {% for sujet in categorie.sujets %}
            <a href="{{ path('messages_sujet', {'id': sujet.id }) }}">{{ sujet }}</a><br>
            <a href="{{ path('suppr_sujet', {'idSuj': sujet.id, 'idCtg': categorie.id }) }}">Supprimer le sujet</a><br>
        {% endfor %}
    </div>

{% endblock %}
