{% extends 'base.html.twig' %}

{% block title %}PetSeek | Forum | Sujets{% endblock %}

{% block body %}

<div class="parallax">
    <h1>{{ categorie }}
        {% if app.user %}
            <button class="new-btn">
                <a href="{{ path('crea_suj', {'idCtg': categorie.id }) }}">Nouveau sujet</a>
            </button>
        {% endif %}
    </h1>
</div>

<div class="para-text">
    <div>
        {% for sujet in categorie.sujets %}
            <a href="{{ path('messages_sujet', {'idSuj': sujet.id }) }}">{{ sujet }}</a>
            {% if app.user %}
                {% if sujet in app.user.sujetFavorites %}
                    <a href="{{ path('remove_sujfav', {'id': sujet.id }) }}">
                        <i class="fa-solid fa-heart" style="color: #d747cb;"></i>
                    </a>
                {% else %}
                    <a href="{{ path('add_sujfav', {'id': sujet.id }) }}">
                        <i class="fa-regular fa-heart" style="color: #d747cb;"></i>
                    </a>
                {% endif %}

                {% if app.user and is_granted('ROLE_ADMIN') %}
                    {% if sujet.closed == 1 %}
                        <a href="{{ path('open_suj', {'idSuj': sujet.id, 'idCtg': categorie.id }) }}">
                            <i class="fa-solid fa-lock" style="color: #d59320;"></i>
                        </a>
                    {% else %}
                        <a href="{{ path('close_suj', {'idSuj': sujet.id, 'idCtg': categorie.id }) }}">
                            <i class="fa-solid fa-lock-open" style="color:#d59320;"></i>
                        </a>
                    {% endif %}
                {% endif %}
            {% endif %}<br>

            {% if app.user and is_granted('ROLE_ADMIN') %}
                <button class="delete-btn">
                    <a href="{{ path('suppr_sujet', {'idSuj': sujet.id, 'idCtg': categorie.id }) }}">Supprimer le sujet</a>
                </button><br><br>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}
